body {
  height: 100%;
  width: 100%;
  display: flexbox;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.repository {
  background-color: thistle;
  border: solid black 1px;
  height: 160px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.fieldTest {
  background-color: rgb(179, 128, 230);
  border: solid black 1px;
  height: 160px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.ready {
  background-color: tomato;
  border: solid black 1px;

  height: 160px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.mainDiv {
  height: 100%;
}

.mainComponent {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  position: absolute;

  height: 100%;
  width: 100%;
}

.fields {
  display: flex;
  width: 100%;
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  position: absolute;
  height: 100%;
  width: 20%;
}

.ButtonsDiv {
  display: flexbox;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.btnRight {
  width: 100px;
}
.btnLeft {
  width: 100px;
}

.field {
  position: relative;
  left: 20%;
  content: 'max-content';
  flex-basis: 27%;
  border-right: dashed rgb(211, 211, 211) 1px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backgroundInfo {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(70, 69, 69, 0.8);
}

.info {
  background-color: white;
  position: absolute;
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  flex-direction: column;
  height: 500px;
  width: 50%;
  padding: 10px;
}

.internalProperties {
  display: flexbox;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.stopScrolling {
  overflow: hidden;
}
