body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.repository {
  background-color: thistle;
  border: solid black 1px;
  height: 160px;
  width: 89%;
  margin: 10px;
  padding: 10px;
  transition: 220ms ease;
}
.repository:hover {
  transform: scale(1.03);
  background-color: rgb(214, 180, 214);
}

.fieldTest {
  background-color: rgb(179, 128, 230);
  border: solid black 1px;
  height: 160px;
  width: 89%;
  margin: 10px;
  padding: 10px;
  transition: 220ms ease;
}
.fieldTest:hover {
  transform: scale(1.03);
  background-color: rgb(170, 117, 223);
}

.ready {
  background-color: tomato;
  border: solid black 1px;
  height: 160px;
  width: 89%;
  margin: 10px;
  padding: 10px;
  transition: 220ms ease;
}
.ready:hover {
  transform: scale(1.03);
  background-color: rgb(253, 91, 62);
}

.mainDiv {
  height: 100%;
}

.mainComponent {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  position: absolute;

  height: 100%;
  width: 100%;
}

.fields {
  display: flex;
  width: 100%;
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  position: absolute;
  height: 100%;
  width: 20%;
}

.ButtonsDiv {
  display: flex;
  align-self: flex-end;
}

.btnRight {
  width: 50%;
}
.btnRightFull {
  width: 99%;
}
.btnLeft {
  width: 50%;
}
.btnLeftFull {
  width: 99%;
}

.field {
  position: relative;
  left: 20%;
  content: 'max-content';
  flex-basis: 26.5%;
  max-width: 26.5%;
  border-right: dashed rgb(211, 211, 211) 1px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field2 {
  position: relative;
  left: 20%;
  content: 'max-content';
  flex-basis: 26.5%;
  max-width: 26.5%;
  border-right: dashed rgb(211, 211, 211) 1px;
  background-color: rgb(247, 252, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backgroundInfo {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(48, 48, 48, 0.8);
}

.info {
  background-color: white;
  position: absolute;
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  flex-direction: column;
  height: 500px;
  width: 50%;
  padding: 10px;
}

.internalProperties {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.stopScrolling {
  overflow: hidden;
}

.ticketStatus {
  display: flex;
  text-align: center;
}
